body {
    background-color: white;
    margin-left: 0;
    margin-right: 0;
}
.navbar {
    background-color: rgb(0, 0, 0);
    padding: 20px;
}
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 100px;
    font-size: medium;
}
h1 {
    text-align: left;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 0px;
    padding-left: 0px; 
}
/* img {
    width: 150px;
    height: 100px;
    margin: 5px;
}
textarea {
    width: 350px;
    height: 100px;
    margin: 5px;
} */
p {
    color: rgb(250, 3, 3);
    font-size: large;
    padding: 5px;
    margin: 0;

}
div {
    color: black;
    font-size: 15px;
    font-style: italic;
    margin-top: 0;
}
h5 {
    color: white;
    background-color: black;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

/* Style the search box */
#mySearch {
    width: 140px;
    height: 20px;
  }
  
  /* Style the navigation menu */
  #myMenu {
    list-style-type: none;
   
  }
  
  /* Style the navigation links */
 #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }
  
  #myMenu li a:hover {
    background-color: #eee;
  }
  
ol {
    font-size: 20px;
}
